/***********************/
/* HEADER */
/***********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Fix the height if we want to have a sticky header.
  Otherwise we can use padding at top and bottom instaed of
  fixed height. But we can still use padding on sides even if we
  want sticky headers. */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}

/***********************/
/* Navigation */
/***********************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #cf711f;
}

/* AND selector. Should have both or more classes to apply */
/* This is of higher priority then single classes */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************/
/* HERO SECTION */
/***********************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* Convention to set the width of Hero to 1300px and rest of the
  sections at 1200px */
  max-width: 130rem;
  /* center in viewport */
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;

  /* We want to overlap images on one another by using negative sapcing but gap will not work
  that is why we will use negative margin on photos themselves
  gap: -1.6rem; */
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

/* with negative margin on photos, now the flex container ends behind the last
image distorting space between last image and adjacent text.
Now we will set margin-right to zero on last image and hence flex container will end
at its correct place */

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/***********************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
  /* TRBL */
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* CSS property to alter image brightness, satuiration
  greyscales etc. Can do a lot with it */
  filter: brightness(0);
  opacity: 50%;
}

/***********************/
/* HOW OT WORKS SECTION */
/***********************/

.section-how {
  padding: 4.4rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  /* this is very light text and will not pass the contrast ratio text
  but as it is not very important text ie 01, 02 or 03,
  it will not be bad to not emphasize on it and this light
  adds a nice style so it is fine */
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box:before,
.step-img-box:after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  /* this will not work, we will also have to use transform and translate as below */
  top: 50%;
  left: 50%;
  /* This will work now in combination with top and left */
  transform: translate(-50%, -50%);
}

.step-img-box:before {
  width: 60%;
  /* height wont work here, but there is a nice trick
  to use padding-bottom: 60% which will work in this case.
  Using pxs instead of percentage will give us the box but we
  dont want to use pixels as they are not responsive*/
  /* height: 60%;
  height: 100px; */
  /* It has no height but padding-bottom of 60% will make
  it square and that is what we want */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

/* Now if we want to add another cirle we cant use before but
we can use after psuedo-element */

.step-img-box:after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

/* It is advisable to style images as soon as possible as
they dont auto sacle like text does */
.step-img {
  width: 35%;
}

/***********************/
/* MEALS SECTION */
/***********************/

.section-meals {
  padding: 4.4rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* As the image is on the top of the box, the top corners
  will not be rounded and we have a nice property for it and
  a nice trick that is overflow: hidden */
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  /* Trasnsiiton on two axes */
  /* transform: translate(2rem, 2rem); */
  /* Trasnsiiton on Y axes */
  transform: translateY(-1.2rem);
  /* increase the shadow a little and make it lighter and diffuse
  so it looks realistic */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  /* default flex direction is row but we can set to column
  Once set to column the properties work oppsite when compared
  to flex-direction row ie

  align-items will center hor, justify-content ver and gap vertically too*/
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.list {
  list-style: none;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/***********************/
/* TESTIMONIALS SECTION */
/***********************/

.section-testimonial {
  padding: 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-img {
  /* we want images to be of fixed width */
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item img {
  /* display: block will fix the white space around images as
  they are inline elements */
  display: block;

  /* This will fix the images being too wide */
  width: 100%;
}
